# Introduction

Using this Python notebook WE will:

1.  Understand three Chicago datasets  
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the NOTEBOOK problems we will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This notebook requires to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure to have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

In [2]:
%load_ext sql

In the next cell enter your db2 connection string. Recall the created Service Credentials for the Db2 instance earlier. From the **uri** field of Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://nsk15404:91%40tbk9zr3w8bhwj@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB

'Connected: nsk15404@BLUDB'

## Problems

Now write and execute SQL queries to solve the given problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [4]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [5]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [93]:
%%sql 
SELECT case_number FROM CHICAGO_CRIME_DATA
WHERE DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('HL266884',), ('HK238408',)]

In [80]:
%%sql 
SELECT DISTINCT DESCRIPTION FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('$500 AND UNDER',),
 ('AGG CRIM SEX ABUSE FAM MEMBER',),
 ('AGG CRIMINAL SEXUAL ABUSE',),
 ('AGG PO HANDS NO/MIN INJURY',),
 ('AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY',),
 ('AGG SEX ASSLT OF CHILD FAM MBR',),
 ('AGG: FINANCIAL ID THEFT',),
 ('AGGRAVATED',),
 ('AGGRAVATED DOMESTIC BATTERY',),
 ('AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON',),
 ('AGGRAVATED PO: OTHER DANG WEAP',),
 ('AGGRAVATED VEHICULAR HIJACKING',),
 ('AGGRAVATED: HANDGUN',),
 ('AGGRAVATED: OTHER DANG WEAPON',),
 ('AGGRAVATED:KNIFE/CUTTING INSTR',),
 ('ARMED: HANDGUN',),
 ('ARMED:KNIFE/CUTTING INSTRUMENT',),
 ('ATT: AUTOMOBILE',),
 ('ATTEMPT NON-AGGRAVATED',),
 ('ATTEMPT POSSESSION NARCOTICS',),
 ('ATTEMPT THEFT',),
 ('AUTOMOBILE',),
 ('BOGUS CHECK',),
 ('BOMB THREAT',),
 ('BY FIRE',),
 ('CALL OPERATION',),
 ('CHILD ABDUCTION/STRANGER',),
 ('CREDIT CARD FRAUD',),
 ('CRIM SEX ABUSE BY FAM MEMBER',),
 ('CRIMINAL DEFACEMENT',),
 ('CYBERSTALKING',),
 ('DOMESTIC BATTERY SIMPLE',),
 ('DOMESTIC VIOLENCE',),
 ('ESCAPE',),
 ('FALSE/STOLEN/ALTERED TRP',),
 ('FINANCIAL ID THEFT: OVER $300',),
 ('FINANCIAL IDENTITY THEFT OVER $ 300',),
 ('FIRST DEGREE MURDER',),
 ('FOID - REVOCATION',),
 ('FORCIBLE ENTRY',),
 ('FORGERY',),
 ('FOUND SUSPECT NARCOTICS',),
 ('FRAUD OR CONFIDENCE GAME',),
 ('FROM BUILDING',),
 ('GAME/DICE',),
 ('HARASSMENT BY ELECTRONIC MEANS',),
 ('HARASSMENT BY TELEPHONE',),
 ('ILLEGAL CONSUMPTION BY MINOR',),
 ('ILLEGAL USE CASH CARD',),
 ('INTIMIDATION',),
 ('INTOXICATING COMPOUNDS',),
 ('INVOLUNTARY SERVITUDE',),
 ('LICENSED PREMISE',),
 ('LOST PASSPORT',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('MANU/DELIVER: HEROIN (WHITE)',),
 ('MANU/DELIVER: METHAMPHETAMINES',),
 ('MANU/DELIVER:CRACK',),
 ('NON-AGGRAVATED',),
 ('NOTIFICATION OF CIVIL NO CONTACT ORDER',),
 ('OBSCENE MATTER',),
 ('OBSCENE TELEPHONE CALLS',),
 ('OTHER',),
 ('OTHER CRIME AGAINST PERSON',),
 ('OTHER VEHICLE OFFENSE',),
 ('OVER $500',),
 ('PAROLE VIOLATION',),
 ('POCKET-PICKING',),
 ('POSS: CANNABIS 30GMS OR LESS',),
 ('POSS: COCAINE',),
 ('POSS: CRACK',),
 ('POSS: HEROIN(WHITE)',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('PROBATION VIOLATION',),
 ('PURSE-SNATCHING',),
 ('RECKLESS CONDUCT',),
 ('RESIST/OBSTRUCT/DISARM OFFICER',),
 ('RETAIL THEFT',),
 ('SELL/GIVE/DEL LIQUOR TO MINOR',),
 ('SEX ASSLT OF CHILD BY FAM MBR',),
 ('SEX OFFENDER: FAIL REG NEW ADD',),
 ('SIMPLE',),
 ('SOLICIT FOR BUSINESS',),
 ('SOLICIT NARCOTICS ON PUBLICWAY',),
 ('SOLICIT ON PUBLIC WAY',),
 ('STRONGARM - NO WEAPON',),
 ('TELEPHONE THREAT',),
 ('THEFT BY LESSEE,MOTOR VEH',),
 ('THEFT OF LABOR/SERVICES',),
 ('THEFT OF LOST/MISLAID PROP',),
 ('THEFT/RECOVERY: AUTOMOBILE',),
 ('TO CITY OF CHICAGO PROPERTY',),
 ('TO LAND',),
 ('TO PROPERTY',),
 ('TO RESIDENCE',),
 ('TO STATE SUP LAND',),
 ('TO VEHICLE',),
 ('TRUCK, BUS, MOTOR HOME',),
 ('UNLAWFUL ENTRY',),
 ('UNLAWFUL POSS OF HANDGUN',),
 ('UNLAWFUL POSS OTHER FIREARM',),
 ('VEHICULAR HIJACKING',),
 ('VIOLATE ORDER OF PROTECTION',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [98]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA
WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%'

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [112]:
%%sql
SELECT DISTINCT PRIMARY_TYPE
FROM CHICAGO_CRIME_DATA
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for all types of schools.

In [15]:
%%sql
SELECT  "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS AVG_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [20]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC NULLS LAST LIMIT 5;

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [56]:
%%sql
SELECT community_area_number, COUNT(community_area_number) AS FREQUENCY_OF_CRIME 
FROM CHICAGO_CRIME_DATA
GROUP BY community_area_number
ORDER BY FREQUENCY_OF_CRIME DESC LIMIT 1;

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [28]:
%%sql
SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [130]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT DESC LIMIT 1)

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin',)]

In [126]:
%%sql
SELECT COUNT(COMMUNITY_AREA_NAME) AS FREQUENCY, CD.COMMUNITY_AREA_NAME
FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
GROUP BY COMMUNITY_AREA_NAME
ORDER BY FREQUENCY DESC NULLS LAST LIMIT 1;

 * ibm_db_sa://nsk15404:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('43'), 'Austin')]